/* body {
    overflow: hidden;
    position: fixed;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
   margin: 0px;
  } */

  body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
     position: fixed; 
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}


#container{
  width:20%
}
  #chartId{
     border: 2px solid red;

    }

  circle {
    fill: steelblue;
  }
  
  .line-path {
    fill: none;
    stroke: maroon;
    stroke-width: 5;
    stroke-linejoin: round;
  }
  
  text {
    font-family: sans-serif;
  }
  
  .tick text {
    font-size: 2.7em;
    fill: red
  }
  
  .tick line {
    stroke: #C0C0BB;
  }
  
  .axis-label {
    font-size: 5em;
    fill: #8E8883;
  }
  svg{
    border:2px solid red;
  }








  
.navbar {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  color: #C3D3D0;
  background-color: #174255;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  min-width: 100%;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
}

.nav-links a {
  padding: 30px;
}

.navbar a {
  text-decoration: inherit;
  color: inherit;
}

a img {
  height: 30px;
  margin-top: 10px;
}

.short-text {
  display: none;
}

@media (max-width: 700px) {
  .short-text {
      display: inline-block;
  }
  .full-text {
      display: none;
  }
}

@media (max-width:360px) {
  #logo {
      margin-left: 30px;
  }
  .nav-links a {
      padding: 15px;
  }
  .short-text {
      display: inline-block;
  }
  .full-text {
      display: none;
  }
}


/* Banner */

.banner {
  padding: 30px;
}

.background-card {
  background: #FFF;
  height: 90vh;
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}