.about {
    font-family: 'Roboto', sans-serif;
    margin-top:2em;
}
.container1{
    width:80em;
    margin:auto;
    overflow:hidden;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container1__textBox1 {
    width:30em;
  
}

.container1__textBox1 h2{
    color:green;
    text-align: center;
    margin-top: 2em;
}   


.container1__image1 img{
    width:35em;
    height: 30em;
}

.container2{
    width:80em;
    margin:auto;
    overflow:hidden;
    margin-top: 2em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top:5em;
}
.container2__textBox1 {
    width:30em;
    
}

.container2__textBox1 h2{
    color:green;
    text-align: center;
    margin-top: 2em;

}


.container2__image1 img{
    width:35em;
    height: 30em;
}
.footer {
        font-size: 25px;
        color: #C3D3D0;
        background-color: #174255;
        padding-bottom: 10px;
        font-family: 'Roboto', sans-serif;
        margin-left:0em;
    }

@media screen and (max-width:406px) and (min-width:320px){ /*pt iphone 5*/
    
    .container1, .container2 {
        width:20em;
        flex-wrap: wrap;    
        box-sizing: border-box;
 
    }
  .container1__textBox1, .container2__textBox1{
 
    padding:1rem 2rem;
  }
 
  /*p din container1 si container 2 */

  .container1 p {
      color:red;
      margin-left: 0em;
      text-align: left;
      font-size: 14px;
      font-size: 4vw;
  }
  .container2 p{
    color:red;
    margin-left: 0em;
    text-align: left;
    font-size: 14px;
    font-size: 4vw;
}
  
 
.container1__image1 img{
   padding-left: 1em;
   padding-right: 15.8em;
   height: auto;
}
.container2__image1 img{

   padding-left: 15.8em;
   padding-right: 1em;
   height: auto;

    }
}

@media screen and (max-width:500px) and (min-width:406px){ /*pt > iphone5*/
    
    .container1, .container2 {
        width:25em;
        flex-wrap: wrap;    
        box-sizing: border-box;
 
    }
  .container1__textBox1, .container2__textBox1{

    padding:1rem 2rem;
  }
 
  /*p din container1 si container 2 */

  .container1 p{
      color:red;
      margin-left: 0em;
      text-align: left;
      font-size: 14px;
      font-size: 4vw;
  }
  .container2 p{
    color:red;
    margin-left: 0em;
    text-align: left;
    font-size: 14px;
    font-size: 4vw;
}

.container1__image1 img{
   padding-left: 1em;
   padding-right: 10.5em;
   height: auto;
   align-items: center;
}
.container2__image1 img{

   padding-left: 10.5em;
   padding-right: 1em;
   height: auto;
   align-items: center;

    }
}

@media screen and (max-width:600px) and (min-width:501px){ /*pt > iphone5*/
    
    .container1, .container2 {
        width:30em;
        flex-wrap: wrap;    
        box-sizing: border-box;
 
    }
  .container1__textBox1, .container2__textBox1{

    padding:1rem 2rem;
  }
 
  /*p din container1 si container 2 */

  .container1 p{
      color:red;
      margin-left: 0em;
      text-align: left;
      font-size: 14px;
      font-size: 4vw;
  }
  .container2 p{
    color:red;
    margin-left: 0em;
    text-align: left;
    font-size: 14px;
    font-size: 4vw;
}

.container1__image1 img{
   padding-left: 1em;
   padding-right: 5.5em;
   height: auto;
   align-items: center;
}
.container2__image1 img{

   padding-left: 5.5em;
   padding-right: 1em;
   height: auto;
   align-items: center;

    }
}

@media screen and (max-width:767px) and (min-width:600px){ /*pt < ipad*/

    .container1, .container2 {
        width:35em;
        flex-wrap: wrap;    
        box-sizing: border-box;
 
    }
  .container1__textBox1, .container2__textBox1{

    padding:1rem 1rem;
    width: 35em;
  }
 
  /*p din container1 si container 2 */

  .container1 p{
      color:red;
      margin-left: 0em;
      text-align: left;
      font-size: 14px;
      font-size: 4vw;
  }
  .container2 p{
    color:red;
    margin-left: 0em;
    text-align: left;
    font-size: 14px;
    font-size: 4vw;
}

.container1__image1 img{
   padding-left: 1em;
   padding-right: 1.5em;
   height: auto;
   align-items: center;
}
.container2__image1 img{

   padding-left: 1.5em;
   padding-right: 1em;
   height: auto;
   align-items: center;

    }
    
}


@media screen and (max-width:900px) and (min-width:768px){ /*pt < ipad*/

    .container1{
        width:45em;
        margin-left: -1em;

        overflow:hidden;
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
    }
    .container1__textBox1 {
        width:22.5em;
        
      
    }
    
    .container1__textBox1 h2{
        color:green;
        text-align: center;
        margin-top: 2em;
    }   
    
    
    .container1__image1 img{
        width:22.5em;
        height: auto;
        padding-left: 5em;
        padding-top: 5em;
    }
    
    .container2{
        width:45em;
        margin:auto;
        overflow:hidden;
        margin-top: 2em;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top:5em;
    }
    .container2__textBox1 {
        width:22.5em;
        
    }
    
    .container2__textBox1 h2{
        color:green;
        text-align: center;
        margin-top: 0em;
    
    }
    
    
    .container2__image1 img{
        width:22.5em;
        height:auto;

    }
    p{
        color:blue;
    }
}





p{
    text-align: justify;
    margin-top:2em;
    margin-left: 3em;
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-style: inherit;
}


h2{
    margin-top: 2em;
    text-align:justify;
}