html {
    height: 100%;
  }

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}


/* Header */

.navbar {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    color: #C3D3D0;
    background-color: #174255;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    min-width: 100%;
    align-items: center;
  }
  
  .nav-list {
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav-links a {
    padding: 30px;
  }
  
  .navbar a {
    text-decoration: inherit;
    color: inherit;
  }
  
  a img {
    height: 30px;
    margin-top: 10px;
  }
  
  .short-text {
    display: none;
  }
  
  @media (max-width: 700px) {
    .short-text {
        display: inline-block;
    }
    .full-text {
        display: none;
    }
  }
  
  @media (max-width:360px) {
    #logo {
        margin-left: 30px;
    }
    .nav-links a {
        padding: 15px;
    }
    .short-text {
        display: inline-block;
    }
    .full-text {
        display: none;
    }
  }


/* Banner */

.banner {
    padding: 30px;
    height: 100%;
  }
  
.background-card {
    background: #FFF;
    height: 100%;
    box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

#map {
    width: 100%;
    text-align: center;
    margin-top: 75px;
}

svg {
    width: 55%;
    height: auto;
}

#map h2 {
    font-family: 'Roboto';
    font-size: 20px;
    color: #174255;
}

#map-btn {
    margin-top: 30px;
    width: 120px;
    height: 40px;
    display: none; 
    background-color: #FFE200;
    text-decoration: none;
    border-radius: 100px;
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    color: #174255;
    border: #174255;
    margin-top: 30px;
}

button:hover {
    box-shadow: 0 0 11px #174255;
}

.next {
    width: 100%;
    height: 10px;
}

.next button {
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.next img {
    float: right;
    margin: 20px;
    width: 50px;
    height: 50px;
}